:root {
  /* Primary */

  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);

  /* Neutral */

  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}

.noScroll {
  overflow: hidden;
}

.article-info-excerpt {
  font-size: 0.66rem;
  color: var(--Grayish-Blue);
  width: 25ch;
  display: inline-block;
}
.article-info-subtitle {
  font-size: 0.55rem;
  color: var(--Grayish-Blue);
  display: inline-block;
  margin: 0px;
  margin-top: 1.66rem;
}
.article-info-title {
  font-size: 0.83rem;
  color: var(--Dark-Blue);
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.articles__article-box {
  display: flex;
  flex-direction: column;
}
.articles__article-img {
  max-width: 263px;
  width: 100%;
  height: 200px;
  border-radius: 4px 4px 0px 0px;
}

.articles__article-info {
  padding-left: 26px;
  padding-right: 26px;
}
.articles__info-title {
  font-size: 2.11rem;
  color: var(--Dark-Blue);
  display: inline-block;
}

.burger {
  display: none;
  border: none;
  background-color: transparent;
  padding: 0;
}
.close {
  display: none;
  border: none;
  background-color: transparent;
  padding: 0;
}
.footer {
  background-color: var(--Dark-Blue);
  padding-left: 9.16rem;
  padding-right: 9.16rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.footer--section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.footer--section__btn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.5rem;
}

.footer--section__info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer--section__links {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-copyright {
  color: var(--Grayish-Blue);
  font-size: 0.83rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-link {
  color: var(--White);
  text-decoration: none;
  margin-bottom: 1.22rem;
  font-size: 0.83rem;
}

.footer-link:hover {
  color: var(--Lime-Green);
}
.footer-logo {
}
.footer-social {
  margin-left: 0.66rem;
}
.footer-social-box {
  display: grid;
  grid-template-columns: 1fr;
}
.footer-social-list {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center;
}
.header {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 9.16rem;
  padding-right: 9.16rem;
  margin-top: 1.77rem;
  margin-bottom: 1.44rem;
}

.logo-footer {
  filter: brightness(0) invert(1);
}

.nav--main {
  display: flex;
  /* z-index: 100; */
  align-items: center;
  justify-content: center;
}

.nav--main__list {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  gap: 1.66rem;
  list-style: none;
}

.nav__btn {
  justify-self: right;
}

.nav__link {
  text-decoration: none;
  color: var(--Grayish-Blue);
  font-size: 0.77rem;
  font-weight: 400;
  display: flex;
  position: relative;
}

.nav__link:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  color: var(--Lime-Green);
  opacity: 1;
  background-color: var(--Lime-Green);
  width: 25px;
  height: 3px;
  left: 5px;
}

.nav__link-btn {
  text-decoration: none;
  color: var(--White);
}

.next__img-img {
  max-width: 712px;
  width: 100%;
  position: relative;
  left: 32px;
  display: inline-block;
  bottom: 68px;
  z-index: 1;
}

.next__info-excerpt {
  width: 42ch;
  display: inline-block;
  color: var(--Grayish-Blue);
}
.next__info-title {
  display: inline-block;
  font-size: 3.11rem;
  color: var(--Dark-Blue);
  width: 17ch;
}
.option-excerpt {
  font-size: 0.88rem;
  color: var(--Grayish-Blue);
  width: 28ch;
}
.option-img {
  max-width: 72px;
  width: 100%;
}
.option-title {
  font-size: 1.33rem;
  color: var(--Dark-Blue);
}
.request-btn {
  font-size: 0.83rem;
  background: linear-gradient(0.25turn, var(--Lime-Green), var(--Bright-Cyan));
  border: none;
  width: 9rem;
  border-radius: 1.22rem;
  padding-top: 0.83rem;
  padding-bottom: 0.83rem;
}

.request-btn:hover {
  opacity: 0.75;
}

.section--articles {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 6.11rem;
  padding-bottom: 6.11rem;
  padding-left: 9.16rem;
  padding-right: 9.16rem;
  gap: 2.94rem;
}
.section--articles__article {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.66rem;
}

.section--next {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: var(--Very-Light-Gray);
  padding-top: 1.44rem;
  align-items: center;
  padding-left: 9.16rem;
  overflow: hidden;
}
.section--next__img {
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  width: 115%;
}

.section--next__img::after {
  content: "";
  position: absolute;
  top: 108px;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url(./images/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  opacity: 1;
  max-width: 637px;
  z-index: 0;
  max-height: 707px;
  background-position: 20px;
}

.section--next__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.77rem;
}

.section--why {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--Light-Grayish-Blue);
  padding-left: 9.16rem;
  padding-right: 9.16rem;
  padding-top: 6.11rem;
  padding-bottom: 6.11rem;
  gap: 4rem;
}

.section--why__info {
  display: flex;
  flex-direction: column;
  gap: 1.94rem;
}

.section--why__options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.55rem;
}

.veil {
  display: none;
  background-color: var(--Grayish-Blue);
  width: 100%;
  height: 100vh;
  position: fixed;
}

.why__info-excerpt {
  display: inline-block;
  color: var(--Grayish-Blue);
  width: 58ch;
}

.why__info-title {
  font-size: 2.11;
  display: inline-block;
  color: var(--Dark-Blue);
}

.why__options-option {
  display: flex;
  flex-direction: column;
  gap: 2.22rem;
}

@media (max-width: 1050px) {
  .burger {
    display: block;
  }

  .veil--open {
    opacity: 0.5;
    z-index: 30;
  }

  .header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav--main {
    display: none;
  }

  .nav__link {
    font-size: 1rem;
  }

  .nav__link::before {
    display: none;
  }

  .nav__link:hover {
    color: var(--Dark-Blue);
  }

  .nav__btn {
    display: none;
  }

  .nav--open {
    transform: translateX(0);
    pointer-events: all;
    transition-property: transform;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    position: absolute;
    top: 105px;
    right: 25%;
    display: block;
    z-index: 100;
    width: 50%;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    color: var(--Very-dark-black-blue);
    align-items: center;
    font-size: 28px;
    justify-content: flex-start;
    gap: 2rem;
    background-color: var(--White);
    border-radius: 6px;
  }

  .nav--main__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .section--next {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-right: 9.16rem;
  }

  .section--next__info {
    align-items: center;
  }

  .next__img-img {
    left: 0px;
    bottom: 0px;
  }

  .next__info-excerpt {
    text-align: center;
  }

  .next__info-title {
    text-align: center;
  }

  .section--why {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .why__info-title {
    text-align: center;
  }

  .why__info-excerpt {
    text-align: center;
  }

  .why__options-option {
    align-items: center;
  }

  .section--why__options {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .option-excerpt {
    text-align: center;
  }

  .section--articles__article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section--articles {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .articles__article-box {
    align-items: center;
  }

  .articles__article-info {
    display: flex;
    flex-direction: column;
  }

  .article-info-title {
    width: 27ch;
  }

  .article-info-excerpt {
    width: 35ch;
  }

  .articles__article-img {
    max-width: 298px;
  }

  .footer--section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer--section__links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-links {
    align-items: center;
  }

  .footer--section__btn {
    align-items: center;
  }
}

@media (max-width: 800px) {
  .header {
    padding-left: 1.33rem;
    padding-right: 1.33rem;
  }

  .section--next {
    padding-left: 1.33rem;
    padding-right: 1.33rem;
  }

  .section--why {
    padding-left: 1.33rem;
    padding-right: 1.33rem;
  }

  .section--articles {
    padding-left: 1.33rem;
    padding-right: 1.33rem;
  }

  .footer {
    padding-left: 1.33rem;
    padding-right: 1.33rem;
  }

  .why__info-excerpt {
    width: 40ch;
    font-size: 0.72rem;
  }

  .why__info-title {
    font-size: 1.55rem;
    width: 17ch;
  }

  .next__info-title {
    font-size: 1.94rem;
  }

  .next__info-excerpt {
    width: 40ch;
    font-size: 0.77rem;
  }

  .articles__info-title {
    font-size: 1.55rem;
  }

  .nav--open {
    width: 80%;
    padding: 0;
    left: 30px;
  }

  .section--next__img::after {
    content: "";
    position: absolute;
    /* top: 0; */
    top: 108px;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    opacity: 1;
    max-width: 375px;
    z-index: 0;
    max-height: 424px;
    background-position: 20px;
  }

  .next__img-img {
    bottom: 103px;
    left: 0;
  }
}
